{{ define "main" }}
    <h2>{{ .Title }}</h2>
    <p>Issued: {{ with .Params.doi }}{{ time.AsTime . | time.Format `:date_long` }}{{ else }}Unknown{{ end }}</p>
    <h3>Biographical Data</h3>
    <ul>
        <li>Full Name: {{ with .Params.fullName }}{{ . }}{{ else }}Unknown{{ end }}</li>
        <li>Species: {{ with .Params.species }}{{ . }}{{ else }}Unknown{{ end }}</li>
        <li>Gender: {{ with .Params.gender }}{{ . }}{{ else }}Unknown{{ end }}</li>
        <li>Pronouns: {{ with .Params.pronouns }}{{ . }}{{ else }}they/them{{ end }}</li>
        <li>Age: {{ with .Params.age }}{{ . }}{{ else }}Unknown{{ end }}</li>
        <li>Date of Birth: {{ with .Params.dob }}{{ time.AsTime . | time.Format `:date_long` }}{{ else }}Unknown{{ end }}</li>
        <li>Blood Type: {{ with .Params.bloodType }}{{ . }}{{ else }}Unknown{{ end }}</li>
        <li>Height: {{ with .Params.height }}{{ . }} cm{{ else }}Unknown{{ end }}</li>
        <li>Weight: {{ with .Params.weight }}{{ . }} kg{{ else }}Unknown{{ end }}</li>
        <li>Eye Color: {{ with .Params.eyes }}{{ . }}{{ else }}Unknown{{ end }}</li>
        <li>Hair: {{ with .Params.hair }}{{ . }}{{ else }}Unknown{{ end }}</li>
        <li>Nationality: {{ with .Params.nationality }}{{ . }}{{ else }}Unknown{{ end }}</li>
        <li>Birthplace: {{ with .Params.birthplace }}{{ . }}{{ else }}Unknown{{ end }}</li>
        <li>Residence: {{ with .Params.residence }}{{ . }}{{ else }}Unknown{{ end }}</li>
        <li>Languages: {{ with .Params.languages }}{{ . }}{{ else }}Unknown{{ end }}</li>
    </ul>
    <h3>Employment Data</h3>
    <ul>
        <li>Date of Employment: {{ with .Params.doe }}{{ time.AsTime . | time.Format `:date_long` }}{{ else }}Unknown{{ end }}</li>
        <li>Loyalty Index Score: {{ with .Params.loyalty }}{{ mul . 100 }}%{{ else }}Unknown{{ end }}</li>
        <li>Occupation: {{ with .Params.occupation }}{{ . }}{{ else }}Unknown{{ end }}</li>
        <li>Assignment: {{ with .Params.assignment }}{{ . }}{{ else }}Unknown{{ end }}</li>
    </ul>
    {{ with .Params.externalLink }}
    <h3>External Links</h3>
        <ul>
            {{ range . }}
            <li>
                <a href="{{ .link }}">{{ .name }}</a>
                {{ with .description }}
                    - {{ . }}
                {{ end }}
            </li>
            {{ end }}
        </ul>
    {{ end }}
    {{ with .Content }}
    <h3>Biography</h3>
        {{ . }}
    {{ end }}
    {{ with .Params.supplemental }}
    <h3>Supplemental Documents</h3>
        <ul>
            {{ range . }}
            <li>
                <a href="{{ .link }}">{{ .name }}</a>
                {{ with .description }}
                    - {{ . }}
                {{ end }}
            </li>
            {{ end }}
        </ul>
    {{ end }}
{{ end }}